<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="mise.Properties.Settings.miseConn" connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\mise.mdf;Integrated Security=True&#xA;;Connection Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <mise.Properties.Settings>
            <setting name="nome" serializeAs="String">
                <value>FRUTARIA FRUTIMAIS</value>
            </setting>
            <setting name="endereco" serializeAs="String">
                <value>R Joao Stenzowski 355 - Novo Mundo - Curitiba-PR</value>
            </setting>
            <setting name="fone" serializeAs="String">
                <value>(41) 3528-3859</value>
            </setting>
            <setting name="portaBalanca" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="modeloBalanca" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="portaImpressora" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="modeloImpressora" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="logDir" serializeAs="String">
                <value>\log\</value>
            </setting>
            <setting name="balancaMock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="impressoraMock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="localAppDir" serializeAs="String">
                <value>mise</value>
            </setting>
            <setting name="backupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </mise.Properties.Settings>
    </applicationSettings>
</configuration>